.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__w4KvS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7QKKi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
